@import '../../assets/css/style.scss';
button {
    --height: 30px;
    --radius: 5px;
    height: var(--height);
    background: var(--color);
    border-radius: var(--radius);
    line-height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: $p;
    &.color {
        &-black {
            color: black;
        }
        &-white {
            color: white;
        }
    }
    &.size {
        &-heading {
            padding: 20px 16px 20px 16px;
        }
        &-large {
            padding: 12px 48px 12px 48px;
        }
        &-medium {
            padding: 12px 16px 12px 16px;
        }
        &-small {
            padding: 12px;
        }
    }
    &.type {
        &-default {}
        &-icon-left {}
        &-icon-right {}
    }
    &.background {
        &-default {
            background-color: #fff;
        }
        &-bright {
            background-color: $blue-bt;
        }
        &-store {
            background-color: $green-cl;
        }
    }
    &.round {
        border-radius: 12px;
    } //bo tròn
    &.border {
        &-none {
            border: 1px solid white;
        }
        &-avaiable {
            border: 1px solid black;
        }
        &-green {
            border: 1px solid $green-cl;
        }
    }
    &.font {
        &-bold {
            font-family: $p;
            font-weight: bold;
            font-size: 15px;
        }
    }
}