@import "../../../../assets/css/style.scss";
.payment {
    margin-top: 48px;
    .form-wrapper {
        max-width: 670px;
    }
    .form__dropdown {
        border: 1px solid grey;
        margin: 32px 0px;
        border-radius: 12px;
        &-select {}
        &-row {
            display: flex;
            &:last-child {
                gap: 32px;
            }
            .left {
                max-width: 350px;
                flex-shrink: 0;
            }
            .right {
                display: flex;
                gap: 16px;
                margin-bottom: 16px;
                .form__dropdown-item {
                    max-width: 120px;
                }
            }
        }
        &-item {
            // margin-left: 16px;
            .label {
                // margin-bottom: 16px;
            }
        }
        &-list {
            margin-left: 16px;
            @include transition($t);
        }
    }
}