@import '../../assets/css/style.scss';
.footer {
    .container-fluid {
        .footer__top {
            display: flex;
            justify-content: space-between;
            margin-top: 65px;
            height: 200px;
        }
        .footer__bottom {
            padding-top: 48px;
        }
        .copyright {
            margin-top: 48px;
            color: #151515;
            font-family: $o;
            font-size: 14px;
        }
    }
}